<ion-header>
  <ion-toolbar>
      <ion-text color="light">
    <ion-title>Path Details</ion-title>
    </ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedPath.SkyObjects" >
        {{item.Name}}, id={{item.ObjectID}}
        <ion-icon name="arrow-round-back" *ngIf="item.ObjectID==currentObject.ObjectID"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-card >
      
      <ion-list *ngIf="reachedFinalObject == false" >
        <ion-item class="display-card">
            RA :   {{RAString}}      {{RADirection}}
        </ion-item>
        <ion-item class="display-card">
            Dec:  {{DecString}}      {{DecDirection}}
        </ion-item>
    </ion-list>

  </ion-card>
</ion-content>
<ion-footer>
    <ion-row center >
        <ion-col text-center>
          <ion-button (click)="button_click_Prev()">
            Prev
          </ion-button>
          <ion-button  (click)="button_click_Next()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
</ion-footer>
