<ion-header>
  <ion-toolbar>
    <ion-title>Path Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of selectedPath.SkyObjects" >
        <ion-icon name="arrow-round-forward" *ngIf="item.ObjectID==currentObject"></ion-icon>
        {{item.Name}}, id={{item.ObjectID}}
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-item>
      Current Object = {{currentObject}}, indx = {{currentObjectIndex}},  len = {{selectedPath.SkyObjects.length}}
    </ion-item>
      <ion-list>
          <ion-item>
            RA Turns:   Hours: {{RAHoursToNextObject}},   Minutes: {{RAMinutesToNextObject}}
          </ion-item>
          <ion-item>
            Dec Turns:  Hours: {{DecHoursToNextObject}},   Minutes: {{DecMinutesToNextObject}}
            </ion-item>
        </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
    <ion-row center>
        <ion-col text-center>
          <ion-button (click)="button_click_Prev()">
            Prev
          </ion-button>
          <ion-button  (click)="button_click_Next()">
            Next
          </ion-button>
        </ion-col>
      </ion-row>
</ion-footer>
