<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Sky Paths</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <ion-button expand="block" ion-item  *ngFor="let item of skyPaths2" [routerLink]="['/Path-Detail', item.SkyPathID]">
        {{item.SkyObjects[0].Name}} -> {{item.SkyObjects[item.SkyObjects.length - 1].Name}} ({{item.SkyObjects.length - 1}})
      </ion-button>
  </ion-list>
</ion-content>