<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group (ionChange) = "changeTheme($event)" [(ngModel)]="currentTheme">
      <ion-list-header>
        Display Mode
      </ion-list-header>

      <ion-item>
        <ion-label>Day-Mode</ion-label>
        <ion-radio value='autumn'></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Night-Mode</ion-label>
        <ion-radio value='night' ></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>
