<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sky-Objects</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-card> -->
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let item of skyObjects">
        {{item.ObjectID}}
        <div class="item-note" slot="end">
          {{item.Name}}
        </div>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <!-- <ion-fab vertical="bottom" horizontal="start" edge slot="fixed"> -->
      <ion-fab-button  (click) = "button_click_AddNewSkyObject()">
        <ion-icon name="settings"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
<!-- </ion-card> -->


