<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Sky Finder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" margin="5px">
      <!-- <ion-img src="/assets/shapes.svg"></ion-img> -->
      <ion-img src="/assets/M57_350x140.png"></ion-img>
    </ion-card>
    
    <ion-card class="welcome-card" margin="5px">
      <ion-card-header>
        <!-- <ion-card-subtitle>Get Started</ion-card-subtitle> -->
        <ion-card-title>Welcome to Sky Finder</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Choose a path and navigate your way across the sky.</p>
        &nbsp;
        <p>Or enter new sky objects, create new paths, or update existing objects and paths.</p>
      </ion-card-content>
    </ion-card>

</ion-content>
